.main {
    padding: 0;
    margin: 0;
    width: 100%;
    justify-items: center;
    width: 50%;
    margin-left: auto;
    margin-right:auto ;
}

.main p,label,li{
    color: rgb(190, 191, 209);
}

.main h5{
    font-size: large;
    color: rgb(219, 221, 235);
}