.header_menu *{
    margin: 0;
    padding: 0;
}
.header_menu li{
    display: inline-flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    border-right: 1px solid #707070;
    
}

.header_menu li:last-child{
    border-right: 0px
}

.header_menu Button{
    color: white;
}
.header_menu ul{
    display: flex;
}
.header_menu {
    padding: 10px;
    display: flex;
    background-color: rgb(21, 21, 31);
    justify-content: space-between;
}

.header_menu nav{
    display: flex;
    
}

.name h1{
    color: rgb(206, 205, 216);
}

